:root{
    --font-colour:rgb(24, 31, 37);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.logo{
width: 30%;
height: 100%;
position: relative;
}
.logo_icon{
    width: 40%;
    position: absolute;
    top: 5%;
    left: 40%;
    font-size: 74px;

}
.logo-icon svg{
    width: 100px;
    height: 100px;
}

.logo h1{
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 40%;
    font-size: 74px;
    color: var(--font-colour)

}
.logo span{
    background-color: rgb(226, 156, 63);
    color: #fff;
    padding: 0px 20px;

}
.promo{
height: 100%;
width: calc(70% - 350px);
background-image: url(./img/1.jpg);
background-repeat: no-repeat;
background-size: cover;
}
nav{
    height: 100%;
    width: 350px;
    background-color: var(--font-colour);
    color: rgb(210, 210, 196);
}
nav ul{
    width: 100%;
    position: relative;
    top:200px;
    list-style: none;
}
nav li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    padding-left: 60px;
    cursor: pointer;
}
nav li:hover{
    color: #fff;
}
nav div{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

nav div:hover ~ ul{
    display: block;

}

section{
    width: 100%;
    height: auto;
    padding: 100px 0px;
    color: var(--font-colour);
}

section p{
    width: 100%;
    height: 40px;
    font-size: 24px ;
    text-align: center;
    line-height: 30px;
    
}
section h2{
    width: 100%;
    height: 50px;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.coffe-type{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.element{
    width: 280px;
    height: 300px;
}
.element img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;

}
.element h2{
    width: 100%;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 0px;
}
.element p{
    width: 100%;
    height: 100px;
    padding: 0px 10px;

}
.shop{
    position: relative;
}
.shop__decor{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 30%;
    background-color: var(--font-colour);
    z-index: 0;
}

.products{
    width: 1300px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
    justify-content: space-between;
    align-items: space-evently;
    margin: 0px auto;
    position: relative;
    z-index: 100;
}
.products__item{
    width: 540px;
    height: 300px;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 5px  #dcdcdc;
}
.item__image{
    display: block;
    width: 250px;
    height: 300px;
}
.item__info{
    padding: 30px;
    width: 290px;
    height: 300px;
   
}
.item__price{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    text-align: left;
}
.item_header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;

}
.item__description{
    width: 100%;
    height: 80px;
    line-height: 40px;
    font-size: 18px;
    text-align: left;

}

.item__controls{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item__button{
    width: 110px;
    height: 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;

}
.item__button_active{
    background-color: rgb(226, 156, 63);
    color: #fff;

}
footer{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-family: 25px;
    font-weight: 100;
    font-style: italic;
    background-color: #dcdcdc;
    color: #3e3e3e;

}
@media (max-width: 1300px) {
    .logo h1{
        width: auto;
        line-height: 30px;
        font-size: 24px;
        left: 100px;
        bottom: auto;
        top: 0px;
    }
    header{
    
        flex-direction: column-reverse;
        height: auto;
       
    }
    .promo{
        width: 100%;
        height: 400px;
    }
    .logo{
        width: 100%;
      
    }

    .logo_icon{
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 56px;
    
    }
    .logo_icon svg{
        width: 50px;
        height: 50px;
    }
    .logo span{
        display: block;
   
    }
    .logo h2{
        font-size: 36px;
    
    }

    nav{
        width: 100%;
        position: absolute;
        height: 50px;
        top:0px;
        left: 0px;
    }
    nav ul{
        top: auto;
        bottom: -50px;
        height: auto;
        background-color: var(--font-colour);
        display: none;
        
    }
    nav li{
        padding-left: 0px;
       text-align: center;
    }

    nav div{
        display: block;
    }

    .coffe-type{
      flex-wrap: wrap;
      height: auto;
    }

    section h2{
        
        height: auto;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        line-height: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .products{
       width:100%;
       height:auto;
    }

    
}

@media (max-width: 600px){
    
}